/* MAX DESKTOP */
.tag {
    font-size: 14px;
    background-color: #FF6060;
    border-radius: 10px;
    color: #FFFFFF;
    height: 25px;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
}

/* MIN DESKTOP */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .tag {
        font-size: 13px;
        border-radius: 10px;
        height: 23px;
    }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .tag {
        font-size: 11px;
        border-radius: 5px;
        height: 20px;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {
    .tag {
        font-size: 10px;
        border-radius: 5px;
        height: 18px;
        padding: 0;
    }
}