/* MAX DESKTOP */
.bannerHome-container {
    height: 223px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.bannerHome-image {
    position: absolute;
    object-fit: cover;
    height: 223px;
    width: 100%;
    zoom: 190%;
}

.bannerHome-filter {
    position: absolute;
    width:100%;
    height: 223px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    border-radius: 25px;
    top: 0px;
}

.bannerHome-text {
    color: white;
    font-size: 48px;
    position: absolute;
    margin: 0;
    display: flex;
    align-items: center;
    height: 223px;
}

/* MIN DESKTOP */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .bannerHome-text {
        font-size: 40px;
        height: 186px;
    }

    .bannerHome-container {
        border-radius: 10px;
        height: 186px;
    }

    .bannerHome-image {
        height: 186px;
    }
    
    .bannerHome-filter {
        border-radius: 10px;
        height: 186px;
    }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .bannerHome-container {
        border-radius: 10px;
        height: 148px;
    }

    .bannerHome-image {
        height: 148px;
    }
    
    .bannerHome-filter {
        border-radius: 10px;
        height: 148px;
    }
    
    .bannerHome-text {
        font-size: 32px;
        height: 148px;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {
    .bannerHome-container {
        border-radius: 10px;
        height: 111px;
    }
    
    .bannerHome-image {
        height: 111px;
        top: -48px;
        zoom: 900%;
    }

    
    .bannerHome-filter {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        border-radius: 10px;
        height: 111px;
    }

    .bannerHome-text {
        font-size: 24px;
        margin-left: 16px;
        margin-right: 65px;
        height: 111px;
    }
}

@media screen and (max-width: 510px) {
    .bannerHome-text {
        font-size: 24px;
        margin-left: 16px;
        margin-right: 65px;
    }
}