/* MAX DESKTOP */

.carousel {
    height: 415px;
    background-color: #ff6060;
}

.infos {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 24px;
}

.logements-owner {
    display: inline-flex;
    width: 100%;
}

.logements-owner > div {
    flex: 1 0 auto;
}

.tags {
    grid-gap: 10px;
    display: flex;
}

.info-logements {
    display: flex;
    flex-direction: column;
}

.title-logement {
    font-size: 36px;
    color: #ff6060;
    margin: 0;
    font-weight: 500;
}

.place-logement {
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    color: #ff6060;
    margin-top: 0;
    font-weight: 500;
}

.info-owner {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}

.name-owner {
    font-size: 18px;
    margin-right: 10px;
    text-align: right;
    width: 100px;
    color: #ff6060;
}

.photo-owner {
    border-radius: 50%;
    height: 64px;
    object-fit: cover;
    width: 64px;
}

.note {
    align-items: center;
    display: flex;
    gap: 10px;
}

.star {
    height: 30px;
    width: 30px;
}

.description-equipements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 76px;
}

.equipment {
    display: list-item;
    font-size: 18px;
    margin: 0;
    list-style: none;
}

/* MIN DESKTOP */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .title-logement {
        font-size: 30px;
    }

    .photo-owner {
        height: 54px;
        width: 54px;
    }

    .place-logement {
        font-size: 17px;
    }

    .name-owner {
        font-size: 16px;
    }

    .tags {
        grid-gap: 10px;
        display: flex;
    }

    .star {
        height: 25px;
        width: 25px;
    }

    .note {
        gap: 8px;
    }

    .equipment {
        font-size: 16px;
    }

}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .infos {
        flex-direction: column;
    }

    .owner {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 16px;
    }

    .title-logement {
        font-size: 24px;
                margin-top: -15px;
        margin-bottom: 0;
    }

    .place-logement {
        font-size: 15px;
    }

    .info-owner {
        margin-bottom: 0;
    }

    .photo-owner {
        height: 42px;
        width: 42px;
    }

    .name-owner {
        font-size: 14px;
    }

    .tags {
        grid-gap: 10px;
        display: flex;
    }

    .star {
        height: 20px;
        width: 20px;
    }

    .note {
        gap: 7px;
    }

    .equipment {
        font-size: 14px;
    }

}

/* MOBILE */
@media screen and (max-width: 767px) {
    .infos {
        flex-direction: column;
    }

    .owner {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 16px;
    }

    .title-logement {
        font-size: 18px;
        margin-top: -15px;
        margin-bottom: 0;
    }

    .info-owner {
        margin-bottom: 0;
    }

    .place-logement {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .photo-owner {
        height: 32px;
        width: 32px;
    }

    .name-owner {
        font-size: 12px;
    }

    .tags {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .star {
        height: 15px;
        width: 15px;
    }

    .note {
        gap: 5px;
    }

    .equipment {
        font-size: 12px;
    }

    .description-equipements {
        display: flex;
        flex-direction: column;
        gap: 20px
    }
    

}