/* MAX DESKTOP */
.collapse-content {
    display: flex;
    flex-direction: column;
}

.toggle {
    background: #FF6060;
    border-radius: 5px;
    border-style: none;
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 20px;
    cursor: pointer;
    justify-content: space-between;
}

.collapse-title {
    font-size: 18px;
    color:#FFFFFF;
    font-weight: 500;
}


.chevron {
	height: 15px;
	transform: rotate(0deg);
	transition: 0.4s 0.4s ease-in-out;
}

.rotated {
	transform: rotate(180deg);
	transition: 0.4s ease-in-out;
}

.collapse-text {
    font-size: 18px;
    color:#FF6060;
    font-weight: 400;
}

.collapse-parent {
    overflow: hidden;
    transition: height ease 0.9s;
    border-radius: 5px;
    padding-left: 18px;
    padding-right: 18px;
    background: #F6F6F6;
}

.collapse-parent :nth-child(2) {
    display: flex;
    flex-direction: column;
}

/* MIN DESKTOP */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .toggle {
        height: 41px;
    }

    .collapse-title {
        font-size: 16px;
    }
    
    .collapse-text {
        font-size: 16px;
    }

    .collapse-parent {
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .toggle {
        height: 36px;
    }

    .collapse-title {
        font-size: 14px;
    }
    
    .collapse-text {
        font-size: 14px;
    }

    .collapse-parent {
        padding-left: 14px;
        padding-right: 14px;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {
    .toggle {
        height: 30px;
    }

    .collapse-title {
        font-size: 12px;
    }
    
    .collapse-text {
        font-size: 12px;
    }

    .collapse-parent {
        padding-left: 12px;
        padding-right: 12px;
    }
}
