/* MAX DESKTOP */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.space-link {
    padding-left: 1em;
    padding-right: 2em;
}

.menu-link {
    color: #FF6060;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 500;
}

.menu-link:hover {
    color: #FF6060;
    text-decoration: underline;  
}

.menu-link::backdrop {
    text-decoration: underline;  
}

/* MIN DESKTOP */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .logo {
        height: 61px;
    }

    .space-link {
        padding-left: 1em;
        padding-right: 2em;
    }
        
    .menu-link {
        font-size: 20px;
    }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .logo {
        height: 54px;
    }

    .space-link {
        padding-left: 1em;
        padding-right: 1em;
    }
    
    .menu-link {
        font-size: 16px;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {
    .logo {
        height: 47px;
    }

    .space-link {
        padding-left: 1em;
        padding-right: 1em;
    }
    
    .menu-link {
        font-size: 12px;
        text-transform: uppercase;
    }
}