/* MAX DESKTOP */
#carousel-container {
    display: flex;
    position: relative;
    height: 415px;
    overflow: hidden;
    border-radius: 25px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.slider {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    opacity: 0;
    transition: opacity ease-in-out 0.6s;
    height: 415px;
}


.slides-img {
    object-fit: cover;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 415px;
    width: 100%;
}

.slider__number {
    display: block;
    position: absolute;
    font-size: 18px;
    color: #FFFFFF;
    left: 50%;
    top: 90%;
}

.active-anim {
    opacity: 1;
}

.leftArrow {
    color: black;
    z-index: 1;
    height: 80px;
    margin-left: 25px;
}

.rightArrow {
    color: black;
    z-index: 1;
    height: 80px;
    margin-right: 25px;
}

/* MIN DESKTOP */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    #carousel-container {
        height: 360px;
    }

    .slider {
        height: 360px;
    }

    .slides-img {
        zoom: 85%;
    }

    .leftArrow {
        height: 60px;
        margin-left: 19px;
    }

    .rightArrow {
        height: 60px;
        margin-right: 19px;
    }

    .slider__number {
        font-size: 16px;
    }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 991px) {
    #carousel-container {
        height: 310px;
    }

    .slider {
        height: 310px;
    }

    .slides-img {
        zoom: 75%;
    }

    .leftArrow {
        height: 40px;
        margin-left: 12px;
    }

    .rightArrow {
        height: 40px;
        margin-right: 12px;
    }

    .slider__number {
        font-size: 14px;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {
    #carousel-container {
        height: 255px;
    }

    .slider {
        height: 255px;
    }

    .slides-img {
        zoom: 65%;
    }

    .leftArrow {
        height: 20px;
        margin-left: 6px;
    }

    .rightArrow {
        height: 20px;
        margin-right: 6px;
    }

    .slider__number {
        display: none;
    }
}