/* MAX DESKTOP */
.bannerAbout-container {
    height: 223px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.bannerAbout-image {
    position: absolute;
    object-fit: cover;
    height: 223px;
    width: 100%;
    zoom: 150%;
}

.bannerAbout-filter {
    position: absolute;
    width:100%;
    height: 223px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    border-radius: 25px;
    top: 0px;
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .bannerAbout-container {
        border-radius: 10px;
    }

    .bannerAbout-image {
        bottom: -40px;
    }
    
    .bannerAbout-filter {
        border-radius: 10px;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {
    .bannerAbout-container {
        border-radius: 10px;
    }
    
    .bannerAbout-image {
        bottom: -40px;
    }
    
    .bannerAbout-filter {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        border-radius: 10px;
    }
}